[submodule "server-auth"]
	path = server-auth
	url = git@github.com:OCA/server-auth.git
	branch = 18.0
[submodule "odoo_account_addons"]
	path = odoo_account_addons
	url = git@github.com:ChromaAgency/odoo_account_addons.git
	branch = 18.0
[submodule "odoo_sale_addons"]
	path = odoo_sale_addons
	url = git@github.com:ChromaAgency/odoo_sale_addons.git
	branch = 18.0
